.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
img{
    width:450px;
    height:400px;
    overflow: hidden;
}
li{
    width: 450px;
    height: 400px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position:relative;
    margin-bottom: 20px;
}
li p{
    display:none;
    z-index: 1000;
    text-align: center;
    position: absolute;
    width:100%;
    top:200px;
    color:navajowhite;
    font-family: 'Roboto', sans-serif;
}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.overlay{
    display: none;
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #222222;
    opacity: 0.5;
}
li .loctime{
    display: none;
    z-index: 1000;
    text-align: center;
    position: absolute;
    width:100%;
    top:200px;
    color:antiquewhite;
    font-family: 'Roboto', sans-serif;
}
li .location{
    padding-top: 150px;
}
li .time {
    padding-top: 180px;
}
